{% extends "datalayout.html" %}
{%block content%}
<div class="container-fluid">
    <row>
        <div class="col-md-12" id="datapage">
            <!-- <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">City</th>
                  <th scope="col">State</th>
                  <th scope="col">Country</th>
                  <th scope="col">Shape</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                  
              </tbody>
            </table>  -->
        </div>
    </row>
</div>
{%endblock%}